@import "reset-to-default";
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('woff2'),
  url('../fonts/Ubuntu-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,body{
  width: 100%;
  height: fit-content;
  font-family: Ubuntu,serif;
}
