@import "shared";
.pages-page-4 {
  width: 100%;
  height: 95vh;

  .pages-page-4__wrapper {
    position: relative;
    height: 100%;

    .pages-page-4__wrapper__background {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .background__green {
        height: 40%;
        background-color: #3e5d58;
      }
      .background__white {
        height: 60%;
        background-color: white;
      }
    }

    .pages-page-4__wrapper__content {
      position: absolute;
      width: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .pages-page-4__wrapper__content__founders {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;



        .founders__image {
          max-width: 25rem;
        }

        .founders__text-block {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .founders__names {
            display: none;
            height: 50%;
            color: white;

          }

          .founders__description {
            height: 50%;
            h1 {
              font-size: 2rem;
              padding-bottom: 1rem;
            }
            p {
              font-size: 1.1rem;
            }
            .founders__text-block__link {
              width: 50%;
              padding-top: 4rem;
              margin: auto;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 1.5rem;
              position: relative;
              -webkit-transition: opacity 0.29s, -webkit-transform 0.29s;
              transition: opacity 0.29s, transform 0.29s;

              .arrow_right {
                @extend .button-with-arrow_right
              }


              &:hover {
                a {
                  transform: translateX(-50%);
                }
                .arrow_right {
                  @extend .button-with-arrow_right_hover
                }
              }
              a {
                color: #2fc774;
                text-transform: uppercase;
                font-weight: 600;
                text-decoration: none;
                position: relative;
                text-align: center;
                transition: all 0.5s ease;
              }
            }
          }
        }

      }

    }
  }
}

@media screen and (max-width: 479px) {

}
@media screen and (min-width: 480px) and (max-width: 767px)  {
  .pages-page-4 {


    .pages-page-4__wrapper {


      .pages-page-4__wrapper__background {


        .background__green {

        }
        .background__white {

        }
      }

      .pages-page-4__wrapper__content {


        .pages-page-4__wrapper__content__founders {


          .founders__image {
            margin: auto;

          }

          .founders__text-block {


            .founders__names {


            }

            .founders__description {
              h1 {

              }
              p {
              }
              .founders__text-block__link {


                .arrow_right {
                }


                &:hover {
                  a {
                  }
                  .arrow_right {
                  }
                }
                a {

                }
              }
            }
          }

        }

      }
    }
  }
}
@media screen and (min-width: 768px) and ( max-width: 991px)  {
  .pages-page-4 {

    height: 70vh;

    .pages-page-4__wrapper {


      .pages-page-4__wrapper__background {


        .background__green {

        }
        .background__white {

        }
      }

      .pages-page-4__wrapper__content {


        .pages-page-4__wrapper__content__founders {
          flex-direction: row;


          .founders__image {

          }

          .founders__text-block {


            .founders__names {
              display: block;

            }

            .founders__description {
              h1 {

              }
              p {
              }
              .founders__text-block__link {


                .arrow_right {
                }


                &:hover {
                  a {
                  }
                  .arrow_right {
                  }
                }
                a {

                }
              }
            }
          }

        }

      }
    }
  }
}
@media screen and (min-width: 992px) {
  .pages-page-4 {

    height: 70vh;

    .pages-page-4__wrapper {


      .pages-page-4__wrapper__background {


        .background__green {

        }
        .background__white {

        }
      }

      .pages-page-4__wrapper__content {


        .pages-page-4__wrapper__content__founders {
          flex-direction: row;


          .founders__image {
            .image-5 {
              max-width: 80%;

            }
          }

          .founders__text-block {


            .founders__names {
              display: block;

            }

            .founders__description {
              h1 {

              }
              p {
              }
              .founders__text-block__link {


                .arrow_right {
                }


                &:hover {
                  a {
                  }
                  .arrow_right {
                  }
                }
                a {

                }
              }
            }
          }

        }

      }
    }
  }
}
@media screen and (max-width: 950px) and (orientation: landscape) {

  .pages-page-4 {
    height: 115vh;

    .pages-page-4__wrapper {


      .pages-page-4__wrapper__background {


        .background__green {

        }
        .background__white {

        }
      }

      .pages-page-4__wrapper__content {


        .pages-page-4__wrapper__content__founders {
          flex-direction: row;


          .founders__image {

          }

          .founders__text-block {


            .founders__names {
              display: block;

            }

            .founders__description {
              h1 {

              }
              p {
              }
              .founders__text-block__link {


                .arrow_right {
                }


                &:hover {
                  a {
                  }
                  .arrow_right {
                  }
                }
                a {

                }
              }
            }
          }

        }

      }
    }
  }

}
