@import "shared";

.pages-page-2 {
  min-width: 240px;
  width: 100%;
  height: fit-content;
  background-color: #3e5d58;
  padding-top: 1.8rem;
  padding-bottom: 3.2rem;

  .page-2__content {
    width: 90%;
    height: 100%;
    margin: auto;
    position: relative;
    .page-2__content__stamp {
      position: absolute;
      bottom: -5.5rem;
      max-width: 80px;

    }

  }
  .page-2__content__text-block {
    min-height: 2.6rem;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

      .text-block__header {
        opacity: 0;
        transform: translateY(75px);
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;

        h1 {
          color: white;
          font-size: 2.6rem;
          font-weight: 600;
          text-align: center;
        }
      }

    .page-2__content__text-block__link, {

      opacity: 0;
      transform: translateY(75px);
      width: 50%;
      margin-top: 1em;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      position: relative;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;

      .arrow_right{
        @extend .button-with-arrow_right
      }

      &:hover {
        a {
          transform: translateX(-60%);
        }

        .arrow_right {
          @extend .button-with-arrow_right_hover
        }
      }

      a {
        color: #2fc774;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        position: relative;
        text-align: center;
        transition: all 0.5s ease;
      }

    }

  }
}


@media screen and (max-width: 479px) {

}
@media screen and (min-width: 480px) and (max-width: 767px)  {
  .pages-page-2 {


    .page-2__content {

      .page-2__content__product-img {

        .product-photo-container__image {
          max-width: 90%;
          margin: auto;


        }
      }

      .page-2__content__stamp {

      }

    }
    .page-2__content__text-block {

      margin-top: 3rem;

      .text-block__header {


        h1 {

        }
      }

      .page-2__content__text-block__link, {


        .arrow_right{
        }

        &:hover {
          a {
          }

          .arrow_right {
          }
        }

        a {

        }

      }

    }
  }

}
@media screen and (min-width: 768px) and ( max-width: 991px)  {

}
@media screen and (min-width: 992px) {
}
