.text-block-header {
  margin-top: 0px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 60px;
}

.button-with-arrow_right {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: all 0.5s ease;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.button-with-arrow_right_hover {
  opacity: 1;
  left: 60%;
}

.page_text-block {
  font-size: 2.6rem;
  font-weight: 600;
  text-align: center;
}

