@import "shared";

#overlay {
  z-index: 995;
  position: absolute;
  left: 1rem;
  top: 0.25rem;
  color: black;

  #burger-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    //border: none;
    border: 2px #ffffff solid;
    cursor: pointer;
    padding: 0;
    position: absolute;
    left: 85%;
    top: 1.5rem;
    z-index: 999;

    &.active {
      transform: rotate(-45deg) translate(-15px);
    }

    &.active {
      opacity: 0;
    }

    &.active {
      transform: rotate(45deg) translate(-13px);
    }

    span {
      z-index: 999;
      width: 2rem;
      height: 0.25rem;
      background: #521354;
      transition: all 0.3s ease;
      //width: 2rem;
      //height: 0.25rem;
      //background: black;
      //border-radius: 5px;
      //transition: all 0.3s linear;
      //position: relative;
      //transform-origin: 1px;
    }
  }
}

.burger-menu {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.3s;
  box-shadow: rgba(136, 136, 136, 0.43) 2px 2px 15px;
  background-color: whitesmoke;

  .burger-menu__navigation {
    padding-top: 6rem;
    width: 80%;
    margin: auto;
    .burger-menu__navigation-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      font-size: 2rem;
      padding-bottom: 2rem;
    }
    .burger-menu__contact-block {
      margin: auto;
      border-top: #555555 solid 1px;
      width: 90%;
      padding-top: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      font-size: 1.2rem;
      .burger-menu__social-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        img {
          max-width: 25px;
        }
      }
    }
  }
  .rent_or_buy {
    display: none;
  }

}

.show {
  transform: translateX(0);
}

@media screen and (max-width: 479px) {

}
@media screen and (min-width: 480px) and (max-width: 767px)  {
  .burger-menu {
    width: 100%;

    .burger-menu__navigation {

      .burger-menu__navigation-list {

      }
      .burger-menu__contact-block {

        .burger-menu__social-links {

          img {

          }
        }
      }
    }
    .rent_or_buy {

    }

  }
}
@media screen and (min-width: 768px) and ( max-width: 991px)  {
  .burger-menu {
    width: 35%;
    box-shadow: rgba(136, 136, 136, 0.43) 2px 2px 15px;

    .burger-menu__navigation {

      .burger-menu__navigation-list {

      }
      .burger-menu__contact-block {

        .burger-menu__social-links {

          img {

          }
        }
      }
    }

      .rent_or_buy {
        width: 100%;
        padding-top: 2rem;
        position: relative;
        display: flex;
        justify-content: center;
        gap: 2rem;

        p {
          padding: 0.7rem 1.4rem;
          border: black 1px solid;
          color: black;
        }
      }
  }
}
@media screen and (min-width: 992px) {
  .burger-menu {
    width: 35%;
    max-width: 300px;


    .burger-menu__navigation {

      .burger-menu__navigation-list {

      }
      .burger-menu__contact-block {

        .burger-menu__social-links {

          img {

          }
        }
      }
    }
    .rent_or_buy {
      width: 100%;
      padding-top: 2rem;
      position: relative;
      display: flex;
      justify-content: center;
      gap: 2rem;

      p {
        padding: 0.7rem 1.4rem;
        border: black 1px solid;
        color: black;
      }
    }

  }
}
@media screen and (max-width: 950px) and (orientation: landscape) {
  .burger-menu {
    width: 100%;

    .burger-menu__navigation {

      .burger-menu__navigation-list {
        font-size: 1.5rem;
      }
      .burger-menu__contact-block {
        display: none;
        .burger-menu__social-links {

          img {

          }
        }
      }
    }

    .rent_or_buy {
      display: none;

      p {

      }
    }
  }
  #overlay {

    #burger-menu-button {


      &.active {
        transform: rotate(-45deg) translate(-15px);
      }

      &.active {
        opacity: 0;
      }

      &.active {
        transform: rotate(45deg) translate(-13px);
      }

      span {
        z-index: 999;
        width: 2rem;
        height: 0.25rem;
        background: #521354;
        transition: all 0.3s ease;
        //width: 2rem;
        //height: 0.25rem;
        //background: black;
        //border-radius: 5px;
        //transition: all 0.3s linear;
        //position: relative;
        //transform-origin: 1px;
      }
    }
  }
}
