@import "shared";

#overlay {
  z-index: 1000;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  width: fit-content;
  height: fit-content;
  transition: all 0.9s;


  &.hide {
    top: -100%;
  }

  &.active {
    .header-item {
      span {
        background-color: #000000;
      }
    }

  }
  .header-item {
    width: 2rem;
    height: 2rem;
    position: relative;
    z-index:2;
    overflow: hidden;

    span {
      width: 30px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      transition: all 0.5s;
      margin-bottom: .35rem;
    }
    .line1 {
      top: calc(50% - 0.6rem);
    }
    .line2 {

    }
    .line3 {
      top: calc(50% + 0.6rem);
    }
  }

}

.burger-menu {

  &.show {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2000;
    transform: translateX(0);
  }

  overflow-y: hidden;
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.3s;
  box-shadow: rgba(136, 136, 136, 0.43) 2px 2px 15px;
  background-color: whitesmoke;

  .burger-menu__navigation {
    padding-top: 6rem;
    width: 100%;

    .burger-menu__navigation-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      font-size: 2rem;
      padding-bottom: 2rem;
    }
    .burger-menu__contact-block {
      margin: auto;
      border-top: #555555 solid 1px;
      width: 90%;
      padding-top: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      font-size: 1.2rem;
      .burger-menu__social-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        img {
          max-width: 25px;
        }
      }
    }
  }
  .rent_or_buy {
    display: none;
  }
}

@media screen and (max-width: 479px) {}
@media screen and (min-width: 480px) and (max-width: 767px)  {

}
@media screen and (min-width: 768px) and ( max-width: 991px)  {
  .burger-menu {
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .burger-menu {
    width: 40%;
  }
}
@media screen and (max-width: 950px) and (orientation: landscape) {
  .burger-menu {

    &.show {

    }


    width: 100%;


    .burger-menu__navigation {
      padding-top: 6rem;
      width: 100%;

      .burger-menu__navigation-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        font-size: 1rem;
        padding-bottom: 1rem;

      }
      .burger-menu__contact-block {

        .burger-menu__social-links {

          img {
          }
        }
      }
    }
    .rent_or_buy {
    }
  }

}
