.services {
  position: relative;
  width: 100%;
  height: 155vh;

  .services__buy {
    -webkit-transition: all 3s;
    transition: all 0.5s;
    width: 100%;
    height: 50%;

    background-attachment: fixed;
    background-position: 0 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    background-image: url('https://assets.website-files.com/6245ee93f9819c6dcc56fc72/6245ee93f9819c82eb56fd02_Sale_Photo-p-1080.jpeg');

    .service-wrapper {
      h1 {
        color: white;
      }
    }

    .div-block-7 {
      position: absolute;
      opacity: 0;
      top: 20rem;
      right: 2rem;
      padding: 2rem 2rem 4rem 5rem;
      background-color: #fff;
      box-shadow: #333333 2px 2px 15px;

      .buy-block {
        transform: translateX(-100%);
        transition: all 0.9s;

        h2 {
          padding-bottom: 1rem;
        }

        p {
          font-size: .8rem;
          padding-bottom: 2rem;
        }

        a {
          text-decoration: none;
          border: #acaba9 solid 1px;
          background-color: transparent;
          color: #acaba9;
          font-size: small;
          padding: 1rem 1.5rem;
        }
      }
    }
  }

  .services__rent {
    width: 100%;
    height: 50%;
    background-color: #4d4d4d;
    background-attachment: fixed;
    background-position: 0 25rem;
    background-repeat: no-repeat;
    background-size: 143vw 76vh;
    background-image: url('https://assets.website-files.com/6245ee93f9819c6dcc56fc72/6245ee93f9819c338156fd03_Rent_Photo.jpg');

    .div-block-7-2 {
      opacity: 0;
      background-color: #cab48c;
      position: absolute;
      top: 20rem;
      left: 2rem;
      padding: 2rem 2rem 4rem 5rem;
      transition: all 0.9s;

      .rent-block {
        transform: translateX(100%);
        transition: all 0.9s;

        h2 {
          padding-bottom: 1rem;
          color: white;
        }

        p {
          color: #505050;
          font-size: .8rem;
          padding-bottom: 2rem;
        }

        a {
          text-decoration: none;
          border: #eaeaea solid 1px;
          background-color: transparent;
          color: #eaeaea;
          font-size: small;
          padding: 1rem 1.5rem;
        }
      }
    }
  }

  .service-wrapper {

    position: relative;
    z-index: 1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    h1 {
      padding: 2rem 2rem;
      color: #cab48c;
      z-index: 999;
      position: relative;
      top: 50%;
      font-family: Raleway, serif;
      font-size: 9rem;
    }
  }
}

@media screen and (max-width: 479px) {

}
@media screen and (min-width: 480px) and (max-width: 767px)  {
  .services {


    .services__buy {

      .service-wrapper {
        h1 {
        }
      }

      .div-block-7 {
        top: 14rem;
        left: 1rem;
        width: 70%;

        .buy-block {


          h2 {

          }

          p {
            font-size: 1.1em;

          }

          a {

          }
        }
      }
    }

    .services__rent {


      .div-block-7-2 {
        top: 14rem;
        right: 1rem;
        width: 70%;

        .rent-block {


          h2 {

          }

          p {
            font-size: 1.1em;
          }

          a {

          }
        }
      }
    }

    .service-wrapper {


      h1 {

      }
    }
  }
}
@media screen and (min-width: 768px) and ( max-width: 991px)  {
  .services {


    .services__buy {

      .service-wrapper {
        h1 {
        }
      }

      .div-block-7 {
        left: 1rem;
        right: 20rem;

        .buy-block {


          h2 {

          }

          p {

          }

          a {

          }
        }
      }
    }

    .services__rent {


      .div-block-7-2 {
        left: 20rem;
        right: 1rem;

        .rent-block {


          h2 {

          }

          p {

          }

          a {

          }
        }
      }
    }

    .service-wrapper {


      h1 {

      }
    }
  }
}
@media screen and (min-width: 992px) {
  .services {




    .services__buy {
      background-size: 45% 60%;
      background-position: left center;
      .service-wrapper {
        h1 {
          font-size: 10rem;
        }
      }

      .div-block-7 {
        left: 1rem;
        right: 60%;
        top: 15rem;
        .buy-block {


          h2 {
            font-size: 2rem;
          }

          p {
            font-size: 1rem;
            padding-bottom: 2rem;
          }

          a {

          }
        }
      }
    }

    .services__rent {
      background-size: 45% 60%;
      background-position: right center;


      .div-block-7-2 {
        right: 1rem;
        left: 60%;
        top: 15rem;


        .rent-block {


          h2 {
            font-size: 2rem;
          }

          p {
            font-size: 1rem;
            padding-bottom: 2rem;
          }

          a {

          }
        }
      }
    }

    .service-wrapper {
        .service-buy {
          padding-left: 70%;
        }
      .service-rent {
          padding-right: 30%;
        }

      h1 {

      }
    }
  }
}
@media screen and (max-width: 950px) and (orientation: landscape) {
  .services {

    .services__buy {


      .service-wrapper {
        position: relative;
        h1 {
          position: absolute;
          right: 2rem;
        }
      }

      .div-block-7 {
        top: 3rem;
        left: 1rem;

        .buy-block {


          h2 {

          }

          p {

          }

          a {

          }
        }
      }
    }

    .services__rent {
      .service-wrapper {
        position: relative;
        h1 {
          position: absolute;
          left: 2rem;
        }
      }

      .div-block-7-2 {
        top: 3rem;
        right: 1rem;

        .rent-block {


          h2 {

          }

          p {

          }

          a {

          }
        }
      }
    }

    .service-wrapper {

      h1 {
        font-size: 7rem;
      }
    }
  }
}
