@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Oswald:wght@200;400&family=Quicksand:wght@300&family=Raleway:ital,wght@1,100&family=Ultra&display=swap');

@import "burger-menu";
@import "header";
@import "main";
@import "footer";
@import "cta-mobile-contacts";

body {
  height: fit-content;
  overflow: hidden;
  &.body_overflow_hide {
    height: 100vh;
    overflow: hidden;

  }
}
