#overlay {
  z-index: 995;
  position: absolute;
  left: 1rem;
  top: 0.25rem;
  color: black;
}
#overlay #burger-menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: 2px #ffffff solid;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 85%;
  top: 1.5rem;
  z-index: 999;
}
#overlay #burger-menu-button.active {
  transform: rotate(-45deg) translate(-15px);
}
#overlay #burger-menu-button.active {
  opacity: 0;
}
#overlay #burger-menu-button.active {
  transform: rotate(45deg) translate(-13px);
}
#overlay #burger-menu-button span {
  z-index: 999;
  width: 2rem;
  height: 0.25rem;
  background: #521354;
  transition: all 0.3s ease;
}

.burger-menu {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition: all 0.3s;
  box-shadow: rgba(136, 136, 136, 0.43) 2px 2px 15px;
  background-color: whitesmoke;
}
.burger-menu .burger-menu__navigation {
  padding-top: 6rem;
  width: 80%;
  margin: auto;
}
.burger-menu .burger-menu__navigation .burger-menu__navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.burger-menu .burger-menu__navigation .burger-menu__contact-block {
  margin: auto;
  border-top: #555555 solid 1px;
  width: 90%;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
}
.burger-menu .burger-menu__navigation .burger-menu__contact-block .burger-menu__social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.burger-menu .burger-menu__navigation .burger-menu__contact-block .burger-menu__social-links img {
  max-width: 25px;
}
.burger-menu .rent_or_buy {
  display: none;
}

.show {
  transform: translateX(0);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .burger-menu {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .burger-menu {
    width: 35%;
    box-shadow: rgba(136, 136, 136, 0.43) 2px 2px 15px;
  }
  .burger-menu .rent_or_buy {
    width: 100%;
    padding-top: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .burger-menu .rent_or_buy p {
    padding: 0.7rem 1.4rem;
    border: black 1px solid;
    color: black;
  }
}
@media screen and (min-width: 992px) {
  .burger-menu {
    width: 35%;
    max-width: 300px;
  }
  .burger-menu .rent_or_buy {
    width: 100%;
    padding-top: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .burger-menu .rent_or_buy p {
    padding: 0.7rem 1.4rem;
    border: black 1px solid;
    color: black;
  }
}
@media screen and (max-width: 950px) and (orientation: landscape) {
  .burger-menu {
    width: 100%;
  }
  .burger-menu .burger-menu__navigation .burger-menu__navigation-list {
    font-size: 1.5rem;
  }
  .burger-menu .burger-menu__navigation .burger-menu__contact-block {
    display: none;
  }
  .burger-menu .rent_or_buy {
    display: none;
  }
  #overlay #burger-menu-button.active {
    transform: rotate(-45deg) translate(-15px);
  }
  #overlay #burger-menu-button.active {
    opacity: 0;
  }
  #overlay #burger-menu-button.active {
    transform: rotate(45deg) translate(-13px);
  }
  #overlay #burger-menu-button span {
    z-index: 999;
    width: 2rem;
    height: 0.25rem;
    background: #521354;
    transition: all 0.3s ease;
  }
}
/* First, we set up the container. */
.video-background {
  position: relative;
  width: 100%;
  height: 100vh; /* This sets the height to fill the full viewport. */
  overflow: hidden; /* This ensures that the video won't overflow the container. */
}

/* Then we style and position the video itself. */
.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

/* We can also add a dark overlay for legibility purposes, if desired. */
.video-background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

header .logo-link {
  width: 100%;
  height: fit-content;
  position: relative;
}
header .logo-link a {
  margin: auto;
}
header .logo-link a img {
  position: absolute;
  left: 50%;
  top: 1rem;
  max-width: 50px;
  min-height: 50px;
  transform: translateX(-50%);
}
header .logo-link .scroll-icon {
  width: 1rem;
  height: 2rem;
  position: absolute;
  top: 80vh;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
}
header .logo-link .scroll-icon::after {
  content: "scroll";
  color: white;
  position: absolute;
  bottom: -2rem;
  left: -50%;
}
header .logo-link .scroll-icon .scroll-border {
  display: flex;
  justify-content: center;
  align-items: end;
  border: 1px solid white;
  border-radius: 15px;
  padding: 3.5px;
  width: 100%;
  height: 100%;
  box-shadow: rgba(255, 255, 255, 0.39) 1px 1px 10px;
}
header .logo-link .scroll-icon .scroll-border .scroll-dot {
  content: "";
  background-color: white;
  width: 100%;
  height: 100%;
  max-width: 10px;
  max-height: 8px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  transition: all 0.3s;
  animation: scroll-dot-move infinite linear 2s;
}

@keyframes scroll-dot-move {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-1rem);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
