.installation {
  padding: 2rem 2rem;
  font-family: Tahoma, serif;
}
@media (min-width: 500px) and (max-width: 700px) {
  .installation {
    padding: 2rem 4rem;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .installation {
    width: 55%;
    margin: auto;
  }
}
@media ((min-width: 700px) and (max-width: 1000px)) and (orientation: landscape) {
  .installation {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 1001px) {
  .installation {
    width: 70%;
    margin: auto;
  }
}
.installation .service-card-core .service-card-core__service .service--heading {
  padding-bottom: 1.5rem;
  color: #333333;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 1001px) {
  .installation .service-card-core .service-card-core__service .service--heading {
    width: 70%;
    margin: auto;
    font-size: 1.6rem;
  }
}
.installation .service-card-core .service-card-core__service .service--heading .blue-ab {
  color: rgb(70, 154, 244);
}
.installation .service-card-core .service-card-core__service .service-card-core__text-block {
  font-size: 0.8rem;
  color: #888888;
  text-align: center;
  line-height: 1.5rem;
}
@media (min-width: 1001px) {
  .installation .service-card-core .service-card-core__service .service-card-core__text-block {
    width: 60%;
    margin: auto;
    font-size: 1.3rem;
  }
}

.service-card-core__parts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 1001px) {
  .service-card-core__parts {
    margin-top: 50px;
  }
}
.service-card-core__parts .wrench {
  width: 150px;
  height: 150px;
  background-image: url(".././img/service_key.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1001px) {
  .service-card-core__parts .wrench {
    width: 200px;
    height: 200px;
  }
}
.service-card-core__parts .gearwheel2 {
  width: 85px;
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0.1rem;
  bottom: 0.8rem;
  background-image: url(".././img/tool_1.png");
}
@media screen and (max-height: 450px) and (orientation: landscape) {
  .service-card-core__parts .gearwheel2 {
    left: 7rem;
  }
}
@media screen and (min-width: 450px), (max-width: 500px) {
  .service-card-core__parts .gearwheel2 {
    left: 4.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .service-card-core__parts .gearwheel2 {
    left: 8rem;
  }
}
@media (min-width: 1001px) {
  .service-card-core__parts .gearwheel2 {
    left: 290px;
  }
}
.service-card-core__parts .gearwheel1 {
  width: 85px;
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0.1rem;
  top: 0.8rem;
  background-image: url(".././img/service_wheel_3.png");
}
@media screen and (max-height: 450px) and (orientation: landscape) {
  .service-card-core__parts .gearwheel1 {
    right: 7rem;
  }
}
@media screen and (min-width: 450px), (max-width: 500px) {
  .service-card-core__parts .gearwheel1 {
    right: 4.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .service-card-core__parts .gearwheel1 {
    right: 8rem;
  }
}
@media (min-width: 1001px) {
  .service-card-core__parts .gearwheel1 {
    right: 290px;
  }
}

/*# sourceMappingURL=installation.css.map */
