*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: fit-content;
  max-height: 4rem;
  background-color: #ffffff;
  padding: 1rem 2rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-bottom: #999999 1px solid;
}
@media (min-width: 700px) {
  header {
    padding: 3rem 2rem;
  }
}
header .headMenu, header .logo, header .contact-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
header .headMenu {
  order: 2;
  flex-grow: 3;
}
@media ((min-width: 700px) and (max-width: 1000px)) or (orientation: landscape) {
  header .headMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222222;
  }
}
header .logo {
  order: 1;
  flex-grow: 1;
  min-width: 80px;
}
header .logo img {
  max-width: 150px;
}
@media (min-width: 700px) {
  header .logo img {
    max-width: 200px;
    z-index: 1000;
    position: fixed;
    left: 2rem;
  }
}
header .contact-phone {
  flex-grow: 1;
  cursor: pointer;
}
@media ((min-width: 700px) and (max-width: 1000px)) or (orientation: landscape) {
  header .contact-phone {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 0.9rem;
    cursor: pointer;
  }
}
header .contact-phone a p {
  display: none;
  color: rgba(0, 0, 0, 0.25);
}
@media ((min-width: 700px) and (max-width: 1000px)) or (orientation: landscape) {
  header .contact-phone a p {
    display: block;
  }
}
header .contact-phone a img {
  max-width: 35px;
}
@media ((min-width: 700px) and (max-width: 1000px)) or (orientation: landscape) {
  header .contact-phone a img {
    display: none;
  }
}
header .header-item:nth-child(1) {
  order: 4;
}
header .header-item:nth-child(2) {
  order: 1;
}
header .header-item:nth-child(3) {
  order: 2;
}
header .header-item:nth-child(4) {
  font-size: 1rem;
  font-weight: 600;
  order: 2;
}
#burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
@media ((min-width: 700px) and (max-width: 1000px)) or (orientation: landscape) {
  #burger-menu {
    display: none;
  }
}
#burger-menu span {
  width: 2rem;
  height: 0.25rem;
  background: #333;
  border-radius: 5px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

nav {
  display: none;
}
@media ((min-width: 700px) and (max-width: 1000px)) or (orientation: landscape) {
  nav {
    display: flex;
    flex-direction: row;
  }
}

nav a {
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: 800;
  text-shadow: #777777 5px 0.2px 15px;
  text-decoration: none;
  color: #bdbbbb;
}
@media ((min-width: 700px) and (max-width: 1000px)) or (orientation: landscape) {
  nav a {
    color: #222222;
    padding: 0.8rem 0.9rem;
    font-size: 0.8rem;
    text-shadow: none;
    margin-top: 25px;
  }
}
@media (min-width: 700px) {
  nav a {
    margin-top: 0;
  }
}

.hidden {
  display: none;
}
@media screen and (max-height: 450px) and (orientation: landscape) {
  .hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 2;
}
@media ((min-width: 700px) and (max-width: 1000px)) or (orientation: landscape) {
  #overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    z-index: 999;
  }
}

#menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
}
@media ((min-width: 700px) and (max-width: 1000px)) or (orientation: landscape) {
  #menu {
    display: flex;
    flex-direction: row;
    position: relative;
  }
}

.company-overview {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Tahoma, serif;
  padding: 5rem 2rem;
}
@media screen and (max-height: 450px) and (orientation: landscape) {
  .company-overview {
    flex-direction: row;
  }
}
@media ((min-width: 700px) and (max-width: 1000px)) or (min-width: 1001px) {
  .company-overview {
    flex-direction: row;
    padding: 7.5rem 4rem;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .company-overview .company-overview__item--right {
    margin-top: 2rem;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .company-overview .company-overview__item--right {
    width: 35%;
  }
}
@media (min-width: 1001px) {
  .company-overview .company-overview__item--right {
    width: 40%;
  }
}
.company-overview .company-overview__item--left {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 700px) and (max-width: 1000px) {
  .company-overview .company-overview__item--left {
    width: 60%;
  }
}
@media (min-width: 1001px) {
  .company-overview .company-overview__item--left {
    width: 60%;
  }
}
.company-overview .send-request {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
@media ((min-width: 700px) and (max-width: 1000px)) or (min-width: 1001px) {
  .company-overview .send-request {
    flex-direction: row;
  }
}
@media (min-width: 1001px) {
  .company-overview .send-request {
    margin: auto;
    width: 65%;
  }
}
.company-overview .send-request button {
  flex-grow: 1;
  padding: 10px 10px;
  max-height: 40px;
  min-width: fit-content;
  max-width: 80%;
  background-color: #469AF4;
  color: white;
}
@media (min-width: 500px) and (max-width: 700px) {
  .company-overview .send-request button {
    padding: 15px 15px;
    max-height: 60px;
    min-width: fit-content;
    max-width: 90%;
  }
}
@media (min-width: 1001px) {
  .company-overview .send-request button {
    padding: 15px 15px;
    max-height: 60px;
    min-width: fit-content;
    max-width: 90%;
  }
}
.company-overview .send-request p {
  flex-grow: 1;
  font-size: 1rem;
}
@media screen and (min-width: 450px), (max-width: 500px) {
  .company-overview .send-request p {
    width: 70%;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .company-overview .send-request p {
    text-align: start;
    width: 30%;
    font-size: 0.8rem;
    font-weight: 400;
  }
}
@media (min-width: 1001px) {
  .company-overview .send-request p {
    font-size: 0.7rem;
    width: 30%;
  }
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 450px) and (max-width: 500px) {
  .text-block {
    font-size: 1.9rem;
    font-weight: 700;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .text-block {
    font-size: 2.1rem;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .text-block {
    font-size: 2.2rem;
  }
}
@media (min-width: 1001px) {
  .text-block {
    font-size: 2.6rem;
    font-weight: 600;
  }
}

@media screen and (max-height: 450px) and (orientation: landscape) {
  .company-overview-image {
    position: relative;
  }
}
.company-overview-image .company-overview-image__item--refrigerator {
  display: none;
}
@media (min-width: 600px) and (max-width: 899px) {
  .company-overview-image .company-overview-image__item--refrigerator {
    display: none;
  }
}
@media (min-width: 1001px) {
  .company-overview-image .company-overview-image__item--refrigerator {
    max-width: 130px;
    position: absolute;
    display: block;
  }
}
@media (min-width: 1200px) {
  .company-overview-image .company-overview-image__item--refrigerator {
    max-width: 160px;
    position: absolute;
    display: block;
  }
}

.services-modal {
  background-color: #222222;
  color: #eaeaea;
  width: 100%;
  min-height: 6rem;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 450px), (max-width: 500px) {
  .services-modal {
    font-size: 1rem;
    line-height: 1.8rem;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .services-modal {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1001px) {
  .services-modal {
    flex-wrap: nowrap;
    font-size: 0.7rem;
    line-height: 1.5rem;
  }
}
.services-modal .services-modal__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.services-modal .services-modal__item p {
  padding-top: 15px;
  text-align: center;
}

.present {
  background-color: rgb(70, 154, 244);
  position: relative;
  width: 100%;
  height: 15rem;
  min-height: 12rem;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  justify-content: flex-end;
  letter-spacing: 1px;
  line-height: 1.5rem;
  font-weight: 600;
}
@media screen and (max-height: 450px) and (orientation: landscape) {
  .present {
    height: 23rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .present {
    height: 24rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .present {
    height: 29rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}
@media (min-width: 1001px) {
  .present {
    height: 30rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}
.present img {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 30%;
  margin: auto;
}
@media screen and (max-height: 450px) and (orientation: landscape) {
  .present img {
    top: -3rem;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .present img {
    width: 35%;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .present img {
    top: -3.5rem;
    width: 40%;
  }
}
@media (min-width: 1001px) {
  .present img {
    top: -3.5rem;
    width: 25%;
    max-width: 380px;
  }
}
.present p {
  text-align: center;
  width: 80%;
  align-self: center;
}
.present p b {
  border-radius: 0.3rem;
  background-color: white;
  color: #222222;
  padding: 0 7px;
}

.button-details, input[type=submit], textarea[type=submit], .equipment-list--item .equipment-list-item__link div, .equipment-you-need .equipment-you-need--item__help a div {
  padding: 1rem 2rem;
  width: fit-content;
  margin: auto;
  background-color: #469af4;
  color: white;
  letter-spacing: 1.3px;
}

.equipment-you-need {
  font-family: Tahoma, serif;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  text-align: center;
}
@media screen and (max-height: 450px) and (orientation: landscape) {
  .equipment-you-need {
    padding: 2rem 11rem;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .equipment-you-need {
    padding: 2rem 8rem;
  }
}
@media (min-width: 1001px) {
  .equipment-you-need {
    padding: 2rem 6rem;
  }
}
.equipment-you-need .equipment-you-need--item__header {
  font-size: 1.2rem;
  font-weight: 800;
  color: #262626;
  text-align: center;
}
@media screen and (min-width: 450px), (max-width: 500px) {
  .equipment-you-need .equipment-you-need--item__header {
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 2px;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .equipment-you-need .equipment-you-need--item__header {
    font-size: 1.5rem;
  }
}
@media (min-width: 1001px) {
  .equipment-you-need .equipment-you-need--item__header {
    font-size: 1.7rem;
  }
}
.equipment-you-need .equipment-you-need--item__header3 {
  color: #469af4;
}
@media (min-width: 1001px) {
  .equipment-you-need .equipment-you-need--item__header3 {
    width: 55%;
    margin: auto;
    font-size: 1.6rem;
  }
}
.equipment-you-need .equipment-you-need--item__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1001px) {
  .equipment-you-need .equipment-you-need--item__list .equipment-list-item__header {
    width: 60%;
    margin: auto;
    font-size: 1.3rem;
  }
}
.equipment-you-need .equipment-you-need--item__list .equipment-list-item__description {
  padding: 0.6rem 0;
  margin: auto;
  width: 85%;
  line-height: 1.3rem;
  font-weight: 400;
  font-size: 0.8rem;
}
@media (min-width: 1001px) {
  .equipment-you-need .equipment-you-need--item__list .equipment-list-item__description {
    width: 45%;
    margin: auto;
    font-size: 1.3rem;
  }
}
.equipment-you-need .equipment-you-need--item__help {
  border-radius: 1rem;
  line-height: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin-top: 50px;
  background-color: #f5f5f5;
}
@media (min-width: 1001px) {
  .equipment-you-need .equipment-you-need--item__help {
    width: 60%;
    margin: auto;
  }
}
.equipment-you-need .equipment-you-need--item__help .equipment-you-need--item__help__header {
  color: #343434;
  padding: 2rem 0;
  font-size: 1.3rem;
  font-weight: 600;
}
.equipment-you-need .equipment-you-need--item__help .equipment-you-need--item__help__description {
  color: #656565;
  font-size: 0.99rem;
  padding: 0 1rem;
  margin-bottom: 30px;
  max-width: 80%;
}
@media (min-width: 500px) and (max-width: 700px) {
  .equipment-you-need .equipment-you-need--item__help .equipment-you-need--item__help__description {
    font-size: 1.1rem;
  }
}
.equipment-you-need .equipment-you-need--item__help .equipment-you-need--item__help__description span {
  padding-bottom: 15px;
}
.equipment-you-need .equipment-you-need--item__help a div {
  color: white;
  width: fit-content;
  border-radius: 0.5rem;
}

.equipment-list--item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
}
.equipment-list--item .equipment-list-item__img {
  margin: auto;
  max-width: 80%;
}
.equipment-list--item .equipment-list-item__header {
  font-weight: 600;
}
.equipment-list--item .equipment-list-item__link {
  margin-top: 15px;
}
.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.map .map__item {
  height: 15rem;
}
.map .map__item iframe {
  margin-bottom: 20px;
}

.installation {
  padding: 2rem 2rem;
  font-family: Tahoma, serif;
}
@media (min-width: 500px) and (max-width: 700px) {
  .installation {
    padding: 2rem 4rem;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .installation {
    width: 55%;
    margin: auto;
  }
}
@media ((min-width: 700px) and (max-width: 1000px)) and (orientation: landscape) {
  .installation {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 1001px) {
  .installation {
    width: 70%;
    margin: auto;
  }
}
.installation .service-card-core .service-card-core__service .service--heading {
  padding-bottom: 1.5rem;
  color: #333333;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 1001px) {
  .installation .service-card-core .service-card-core__service .service--heading {
    width: 70%;
    margin: auto;
    font-size: 1.6rem;
  }
}
.installation .service-card-core .service-card-core__service .service--heading .blue-ab {
  color: rgb(70, 154, 244);
}
.installation .service-card-core .service-card-core__service .service-card-core__text-block {
  font-size: 0.8rem;
  color: #888888;
  text-align: center;
  line-height: 1.5rem;
}
@media (min-width: 1001px) {
  .installation .service-card-core .service-card-core__service .service-card-core__text-block {
    width: 60%;
    margin: auto;
    font-size: 1.3rem;
  }
}

.service-card-core__parts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (min-width: 1001px) {
  .service-card-core__parts {
    margin-top: 50px;
  }
}
.service-card-core__parts .wrench {
  width: 150px;
  height: 150px;
  background-image: url(".././img/service_key.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 1001px) {
  .service-card-core__parts .wrench {
    width: 200px;
    height: 200px;
  }
}
.service-card-core__parts .gearwheel2 {
  width: 85px;
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0.1rem;
  bottom: 0.8rem;
  background-image: url(".././img/tool_1.png");
}
@media screen and (max-height: 450px) and (orientation: landscape) {
  .service-card-core__parts .gearwheel2 {
    left: 7rem;
  }
}
@media screen and (min-width: 450px), (max-width: 500px) {
  .service-card-core__parts .gearwheel2 {
    left: 4.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .service-card-core__parts .gearwheel2 {
    left: 8rem;
  }
}
@media (min-width: 1001px) {
  .service-card-core__parts .gearwheel2 {
    left: 290px;
  }
}
.service-card-core__parts .gearwheel1 {
  width: 85px;
  height: 85px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0.1rem;
  top: 0.8rem;
  background-image: url(".././img/service_wheel_3.png");
}
@media screen and (max-height: 450px) and (orientation: landscape) {
  .service-card-core__parts .gearwheel1 {
    right: 7rem;
  }
}
@media screen and (min-width: 450px), (max-width: 500px) {
  .service-card-core__parts .gearwheel1 {
    right: 4.5rem;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .service-card-core__parts .gearwheel1 {
    right: 8rem;
  }
}
@media (min-width: 1001px) {
  .service-card-core__parts .gearwheel1 {
    right: 290px;
  }
}

.still-in-use {
  padding: 2rem 2rem;
  font-family: Tahoma, serif;
}
@media ((min-width: 700px) and (max-width: 1000px)) and (orientation: landscape) {
  .still-in-use {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .still-in-use {
    padding: 2rem 4rem;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .still-in-use {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 1001px) {
  .still-in-use {
    padding: 5rem 2rem;
    width: 70%;
    margin: auto;
  }
}
.still-in-use .still-in-use--item .center-h2 {
  padding-bottom: 1.5rem;
  color: #333333;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.still-in-use .still-in-use--item .center-h2 .blue-ab {
  color: rgb(70, 154, 244);
}
@media (min-width: 1001px) {
  .still-in-use .still-in-use--item .center-h2 {
    font-size: 1.9rem;
    line-height: 2rem;
  }
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#gallery button {
  color: white;
  font-size: 1rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 10px;
  border: solid rgb(70, 154, 244);
  border-radius: 50%;
  padding: 0.8rem 1em;
  background-color: rgb(70, 154, 244);
  transition: 0.2ms;
}
#gallery .button:hover {
  padding: 1.2rem 1.2rem;
}
#gallery .button:focus {
  padding: 1.2rem 1.2rem;
}
#gallery #prev {
  left: -1rem;
}
@media (min-width: 1001px) {
  #gallery #prev {
    left: 5rem;
  }
}
#gallery #next {
  right: -1rem;
}
@media (min-width: 1001px) {
  #gallery #next {
    right: 5rem;
  }
}

#image {
  width: 90%;
  height: 250px;
  object-fit: cover;
  border-radius: 0.5rem;
}
@media screen and (max-height: 450px) and (orientation: landscape) {
  #image {
    height: 320px;
  }
}
@media (min-width: 1001px) {
  #image {
    width: 70%;
    height: 550px;
  }
}

.lead-form {
  background-color: #f5f5f5;
  font-family: Tahoma, serif;
  text-align: center;
  border: #eaeaea;
}
@media screen and (max-height: 450px) and (orientation: landscape) {
  .lead-form {
    padding: 2rem 4rem;
  }
}
@media (min-width: 500px) and (max-width: 700px) {
  .lead-form {
    padding: 2rem 4rem;
  }
}
@media (min-width: 1001px) {
  .lead-form {
    padding: 5rem 2rem;
  }
}
.lead-form .form-container {
  padding: 2rem 2rem;
}
@media ((min-width: 700px) and (max-width: 1000px)) and (orientation: landscape) {
  .lead-form .form-container {
    padding: 3rem 0;
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .lead-form .form-container {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 1001px) {
  .lead-form .form-container {
    width: 50%;
    margin: auto;
  }
}
.lead-form .form-container .lead-form--TestDriven .testdriveh2 {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  color: #333333;
  line-height: 1.5rem;
  font-weight: 700;
}
@media (min-width: 1001px) {
  .lead-form .form-container .lead-form--TestDriven .testdriveh2 {
    font-size: 1.5rem;
  }
}
.lead-form .form-container .lead-form--TestDriven .testdriveh2 .blue-ab {
  color: rgb(70, 154, 244);
}
.lead-form .form-container .lead-form--TestDriven div {
  font-size: 0.8rem;
  font-weight: 400;
  color: #999999;
  margin-bottom: 1.2rem;
}
@media (min-width: 1001px) {
  .lead-form .form-container .lead-form--TestDriven div {
    font-size: 1.2rem;
  }
}
.lead-form .form-container .lead-form--TestDriven .lead-links {
  display: flex;
  flex-direction: column;
}
.lead-form .form-container .lead-form--TestDriven .lead-links .phonenumber {
  color: rgb(70, 154, 244);
  font-size: 1.8rem;
  font-weight: 500;
}
.lead-form .form-container .lead-form--TestDriven .lead-links .callback, .lead-form .form-container .lead-form--TestDriven .lead-links .e-mail {
  color: #555555;
  font-size: small;
  line-height: 10px;
}
.lead-form .lead-form--form-block {
  padding: 0.4rem 0.2rem;
  background-color: white;
}
.lead-form .lead-form--form-block #wf-form-question-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.lead-form .lead-form--form-block #wf-form-question-form input, .lead-form .lead-form--form-block #wf-form-question-form textarea {
  width: 100%;
}

.success-message, .w-form-fail {
  display: none;
}

footer {
  height: fit-content;
  padding: 2rem 2rem;
  text-align: center;
}
footer img {
  max-width: 120px;
  margin: auto;
}
footer p {
  margin-top: 35px;
  font-size: 0.7rem;
  color: #888888;
}

.main-links {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}
.main-links a {
  text-decoration: none;
  color: #555555;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.anker-link:before {
  content: "";
  display: block;
  height: 270px;
  margin: -270px 0 0;
  visibility: hidden;
  pointer-events: none;
}

.button-details, input[type=submit], textarea[type=submit], .equipment-you-need .equipment-you-need--item__help a div, .equipment-list--item .equipment-list-item__link div {
  padding: 1rem 2rem;
  width: fit-content;
  margin: auto;
  background-color: #469af4;
  color: white;
  letter-spacing: 1.3px;
}

input, textarea {
  border: 1px solid #dcdcdc;
  background: white;
  padding: 1rem;
  resize: vertical;
}

/*# sourceMappingURL=styles.css.map */
