@import "variables";

.company-overview {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Tahoma, serif;
  padding: 5rem 2rem;

  @media screen and (max-height: $mobile-landscape) and (orientation: landscape){
    flex-direction: row;
  }
  @media ((min-width: $middle-screen) and (max-width: $large-screen)) or (min-width: $larger-screen){
    flex-direction: row;
    padding: 7.5rem 4rem;
  }

  .company-overview__item--right {
    @media (min-width: $small-screen) and (max-width: $middle-screen) {
      margin-top: 2rem;
    }
    @media (min-width: $middle-screen) and (max-width: $large-screen) {
      width: 35%;
    }
    @media (min-width: $larger-screen)  {
      width: 40%;
    }
  }
  .company-overview__item--left {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (min-width: $middle-screen) and (max-width: $large-screen) {
      width: 60%;
    }
    @media (min-width: $larger-screen)  {
      width: 60%;
    }
  }
  .send-request {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    @media ((min-width: $middle-screen) and (max-width: $large-screen)) or (min-width: $larger-screen) {
      flex-direction: row;
    }
    @media (min-width: $larger-screen)  {
      margin: auto;
      width: 65%;
    }
    button{
      flex-grow: 1;
      padding: 10px 10px;
      max-height: 40px;
      min-width: fit-content;
      max-width: 80%;
      background-color: #469AF4;
      color: white;
      @media (min-width: $small-screen) and (max-width: $middle-screen) {
        padding: 15px 15px;
        max-height: 60px;
        min-width: fit-content;
        max-width: 90%;
      }
      @media (min-width: $larger-screen)  {
        padding: 15px 15px;
        max-height: 60px;
        min-width: fit-content;
        max-width: 90%;
      }
    }
    p{
      flex-grow: 1;
      font-size: 1rem;
      @media screen and (min-width: 450px) , (max-width: $small-screen) {
        width: 70%;
        font-size: 1.2rem;
        font-weight: 500;
      }
      @media (min-width: $middle-screen) and (max-width: $large-screen) {
        text-align: start;
        width: 30%;
        font-size: 0.8rem;
        font-weight: 400;
      }
      @media (min-width: $larger-screen)  {
        font-size: 0.7rem;
          width: 30%;
      }
    }
  }
}
 .text-block {
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
   font-size: 1.5rem;
   font-weight: 700;
   @media (min-width: 450px) and (max-width: $small-screen) {
     font-size: 1.9rem;
     font-weight: 700;
   }
   @media (min-width: $small-screen) and (max-width: $middle-screen) {
     font-size: 2.1rem;
   }
   @media (min-width: $middle-screen) and (max-width: $large-screen) {
     font-size: 2.2rem;
   }
   @media (min-width: $larger-screen)  {
     font-size: 2.6rem;
     font-weight: 600;
   }
  }
.company-overview-image{
  @media screen and (max-height: $mobile-landscape) and (orientation: landscape){
    position: relative;
  }
  .company-overview-image__item--refrigerator {
    display: none;

    //@media screen and (max-height: $mobile-landscape) and (orientation: landscape){
    @media (min-width: 600px) and (max-width: 899px){
      display: none;
    }
    @media (min-width: $larger-screen)  {
      max-width: 130px;
      position: absolute;
      display: block;
    }
    @media (min-width: $xxl-screen)  {
      max-width: 160px;
      position: absolute;
      display: block;
    }
  }
}

