@import "shered";
@import "variables";

.equipment-you-need {
  font-family: Tahoma, serif;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  @media screen and (max-height: $mobile-landscape) and (orientation: landscape){
    padding: 2rem 11rem;
  }
  @media (min-width: $small-screen) and (max-width: $middle-screen) {
    padding: 2rem 8rem;
  }
  @media (min-width: $larger-screen)  {
    padding: 2rem 6rem;

  }
  .equipment-you-need--item__header {
    font-size: 1.2rem;
    font-weight: 800;
    color: #262626;
    text-align: center;


    @media screen and (min-width: 450px) , (max-width: $small-screen) {
      font-size: 1.2rem;
      font-weight: 800;
      letter-spacing: 2px;
    }
    @media (min-width: $small-screen) and (max-width: $middle-screen) {
      font-size: 1.5rem;
    }
    @media (min-width: $larger-screen)  {
      font-size: 1.7rem;
    }
  }
  .equipment-you-need--item__header3{
    color: #469af4;
    @media (min-width: $larger-screen)  {
      width: 55%;
      margin: auto;
      font-size: 1.6rem;
    }
  }

  .equipment-you-need--item__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .equipment-list-item__header {
      @media (min-width: $larger-screen)  {
        width: 60%;
        margin: auto;
        font-size: 1.3rem;
      }
    }
    .equipment-list-item__description{
      padding: 0.6rem 0;
      margin: auto;
      width: 85%;
      line-height: 1.3rem;
      font-weight: 400;
      font-size: 0.8rem;
      @media (min-width: $larger-screen)  {
        width: 45%;
        margin: auto;
        font-size: 1.3rem;
      }
    }
  }
  .equipment-you-need--item__help{
    border-radius: 1rem;
    line-height: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin-top: 50px;
    background-color: $general-theme-secondary-color;
    @media (min-width: $larger-screen)  {
      width: 60%;
      margin: auto;
      //font-size: 1.9rem;
    }
    .equipment-you-need--item__help__header{
      color: #343434;
      padding: 2rem 0;
      font-size: 1.3rem;
      font-weight: 600;
    }
    .equipment-you-need--item__help__description {
      color: #656565;
      font-size: 0.99rem;
      padding: 0 1rem;
      margin-bottom: 30px;
      max-width: 80%;

      @media (min-width: $small-screen) and (max-width: $middle-screen) {
        font-size: 1.1rem;
      }

      span{
        padding-bottom: 15px;
      }
    }
    a {
      div {
        color: white;
        width: fit-content;
        @extend .button-details;
        border-radius: 0.5rem;
      }
    }
  }
}
.equipment-list--item{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
  .equipment-list-item__img {
    margin: auto;
    max-width: 80%;
  }
  .equipment-list-item__header {
    font-weight: 600;
  }

  .equipment-list-item__link {
    margin-top: 15px;
    div{
      @extend .button-details;
    }

  }
}
