header{
  z-index: 999;
  position: fixed;
  width: 100%;
  height: fit-content;
  max-height: 4rem;
  background-color: #ffffff;
  padding: 1rem 2rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-bottom: #999999 1px solid;
  .headMenu, logo, contact-phone {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .headMenu{
    order: 2;
    flex-grow: 3;
    display: none;
  }
  .logo{
    order: 1;
    flex-grow: 1;
    min-width: 80px;
    img {
      max-width: 150px;
    }
  }
  .contact-phone{
    flex-grow: 1;
    font-size: 0.9rem;
    cursor: pointer;
    a{
      p {
        display: none;
      }
      img {
        max-width: 35px;
      }
    }
  }
  .header-item:nth-child(1) {
    order: 4;
  }
  .header-item:nth-child(2) {
    order: 1;
  }
  .header-item:nth-child(3) {
    //order: 3;

  }
  .header-item:nth-child(4) {
    order: 2;
  }
}
