@import "variables";
header{
  z-index: 999;
  position: fixed;
  width: 100%;
  height: fit-content;
  max-height: 4rem;
  background-color: #ffffff;
  padding: 1rem 2rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-bottom: #999999 1px solid;
  .headMenu, logo, contact-phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .headMenu{
    order: 2;
    flex-grow: 3;
    @media screen and (max-height: $mobile-landscape) and (orientation: landscape){
     //display: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #222222;
    }
  }
  .logo{
    order: 1;
    flex-grow: 1;
    min-width: 80px;
    img {
      max-width: 150px;
    }
  }
  .contact-phone{
    flex-grow: 1;
    cursor: pointer;
    @media screen and (max-height: $mobile-landscape) and (orientation: landscape){
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      font-size: 0.9rem;
      cursor: pointer;
    }
    a{
      p {
        display: none;
        color: rgba(0, 0, 0, 0.25);

        @media screen and (max-height: $mobile-landscape) and (orientation: landscape){
          display: block;
        }
      }
      img {
        max-width: 35px;

        @media screen and (max-height: $mobile-landscape) and (orientation: landscape){
          display: none;
        }

      }
    }
  }
  .header-item:nth-child(1) {
    order: 4;

  }
  .header-item:nth-child(2) {
    order: 1;
  }
  .header-item:nth-child(3) {
    order: 2;
    @media screen and (max-height: $mobile-landscape) and (orientation: landscape){
      //background-color: #b3d4fc;
    }
  }
  .header-item:nth-child(4) {
    font-size: 1rem;
    font-weight: 600;
    order: 2;

  }

  @media screen and (max-height: $mobile-landscape) and (orientation: landscape){
    //background-color: #b3d4fc;
  }
}
