@import "variables";
.services-modal {
  background-color: #222222;
  color: #eaeaea;
  width: 100%;
  min-height: 6rem;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1.5rem;
  @media screen and (min-width: 450px) , (max-width: $small-screen) {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  @media (min-width: $middle-screen) and (max-width: $large-screen) {
    flex-wrap: nowrap;
  }
  @media (min-width: $larger-screen)  {
    flex-wrap: nowrap;
    font-size: 0.7rem;
    line-height: 1.5rem;
  }
  .services-modal__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    p {
      padding-top: 15px;
      text-align: center;
    }
  }
}
