.text-block-header {
  margin-top: 0px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 60px;
}

.button-with-arrow_right, .pages-page-3 .page-3__content .page-3__products-list .products-list__button__link .arrow_right {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: all 0.5s ease;
}
.button-with-arrow_right img, .pages-page-3 .page-3__content .page-3__products-list .products-list__button__link .arrow_right img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button-with-arrow_right_hover, .pages-page-3 .page-3__content .page-3__products-list .products-list__button__link:hover .arrow_right {
  opacity: 1;
  left: 60%;
}

.page_text-block, .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__header h2 {
  font-size: 2.6rem;
  font-weight: 600;
  text-align: center;
}

.flex-box--column {
  display: flex;
  flex-direction: column;
}

.flex-box--row {
  display: flex;
  flex-direction: row;
}

.pages-page-3 {
  height: fit-content;
  width: 100%;
}
.pages-page-3 .page-3__content {
  padding: 4rem 2rem;
  height: 100%;
}
.pages-page-3 .page-3__content .page-3__products-list {
  width: 80%;
  margin: auto;
}
.pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__header p {
  padding-top: 1rem;
  font-size: 1.2rem;
}
.pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  opacity: 0;
  transform: translateY(75px);
}
.pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item img {
  margin: auto;
  max-width: 200px;
  transform: scale(1);
  transition: transform;
  -webkit-transition: -webkit-transform 0.5s;
}
.pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item img:hover {
  transform: scale(1.1);
}
.pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item h2 {
  font-weight: 800;
}
.pages-page-3 .page-3__content .page-3__products-list .products-list__button__link {
  width: 50%;
  padding-top: 4rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  -webkit-transition: opacity 0.29s, -webkit-transform 0.29s;
  transition: opacity 0.29s, transform 0.29s;
}
.pages-page-3 .page-3__content .page-3__products-list .products-list__button__link:hover a {
  transform: translateX(-50%);
}
.pages-page-3 .page-3__content .page-3__products-list .products-list__button__link a {
  color: #2fc774;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  text-align: center;
  transition: all 0.5s ease;
}

@media screen and (max-width: 479px) {
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content {
    flex-direction: column;
  }
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item {
    flex-grow: 1;
  }
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item img {
    max-width: 10rem;
  }
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item h2 {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content {
    flex-direction: column;
  }
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item {
    flex-grow: 1;
  }
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item img {
    max-width: 10rem;
  }
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item h2 {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content {
    flex-direction: row;
  }
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item {
    flex-grow: 1;
  }
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item img {
    max-width: 10rem;
  }
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item h2 {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 992px) {
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content {
    flex-direction: row;
  }
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item {
    flex-grow: 1;
  }
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item img {
    max-width: 10rem;
  }
  .pages-page-3 .page-3__content .page-3__products-list .products-list__container .products-list__container__content .products-list__container__content__item h2 {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=page-3.css.map */
